@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply px-4 lg:px-10 max-w-7xl mx-auto;
}

/* .text-primary {
  @apply text-[#6C63FF];
} */

/* .text-slate-600 {
  @apply text-slate-600;
} */

/* .bg-primary {
  @apply bg-[#6C63FF];
} */

.bg-linear {
  @apply bg-gradient-to-r from-indigo-200 via-rose-200 to-indigo-200 duration-300;
}

.active {
  @apply text-base font-medium tracking-wide hover:text-[#6C63FF] transition-colors hover:max-md:bg-purple-500 duration-200 w-full p-2 whitespace-nowrap;
}

@layer base {
  h1 {
    @apply lg:text-6xl md:text-5xl text-4xl font-bold drop-shadow;
  }
  h2 {
    @apply lg:text-5xl md:text-4xl sm:text-3xl text-[26px] font-bold drop-shadow;
  }
  h3 {
    @apply lg:text-4xl text-3xl font-bold drop-shadow;
  }
  h4 {
    @apply lg:text-3xl text-2xl font-bold drop-shadow;
  }
  h5 {
    @apply lg:text-2xl text-xl font-bold drop-shadow;
  }
  h6 {
    @apply lg:text-xl text-lg font-bold drop-shadow;
  }
}

/* scroll bar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #6c63ff;
  border-radius: 3.5px; /* Half of the width to make it rounded */
}

/* Add a pseudo-element for the rounded corners of the thumb */
::-webkit-scrollbar-thumb:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-color: #fde8c0;
  border-radius: 5px;
}
